# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore log files
*.log

# Ignore .terraform directory
.terraform/

# Ignore any sensitive or configuration files
secrets.tfvars

.terraform/
.terraform/
